<section class="wrapper">
  <header class="categories">
    <div class="categories__header">
      <h3>Browse By Category</h3>
      <div class="categories__nav">
        <button id="prev">&#10094;</button>
        <button id="next">&#10095;</button>
      </div>
    </div>
    <div class="categories__carousel">
      <a href="" class="category-card">
        <img src="assets/icons/phone.svg" alt="" />
        <p>Phones</p>
      </a>
      <a href="" class="category-card">
        <img src="assets/icons/watch.svg" alt="" />
        <p>Smart Watches</p>
      </a>
      <a href="" class="category-card">
        <img src="assets/icons/camera.svg" alt="" />
        <p>Cameras</p>
      </a>
      <a href="" class="category-card">
        <img src="assets/icons/headphone.svg" alt="" />
        <p>Headphones</p>
      </a>
      <a href="" class="category-card">
        <img src="assets/icons/computer.svg" alt="" />
        <p>Computers</p>
      </a>
      <a href="" class="category-card">
        <img src="assets/icons/gaming.svg" alt="" />
        <p>Gaming</p>
      </a>
    </div>
  </header>
</section>
