<section class="container-fluid">
  <div class="feature-card">
    <div class="d-flex flex-wrap flex-lg-nowrap gap-5 mx-auto">
      <div class="grid grid--features justify-content-center">
        <img
          class="feature__logo"
          src="assets/icons/site-feature-1.webp"
          alt=""
        />
        <h3 class="feature__title">Rapid shipping</h3>
        <p class="feature__descr">With a short period of time</p>
      </div>
      <div class="grid grid--features">
        <img
          class="feature__logo"
          src="assets/icons/site-feature-2.webp"
          alt=""
        />
        <h3 class="feature__title">Secure transaction</h3>
        <p class="feature__descr">Checkout securelye</p>
      </div>
      <div class="grid grid--features">
        <img
          class="feature__logo"
          src="assets/icons/site-feature-3.webp"
          alt=""
        />
        <h3 class="feature__title">24/7 support</h3>
        <p class="feature__descr">Ready to pickup calls</p>
      </div>
      <div class="grid grid--features">
        <img
          class="feature__logo"
          src="assets/icons/site-feature-4.webp"
          alt=""
        />
        <h3 class="feature__title">Bundle offer</h3>
        <p class="feature__descr">On many products</p>
      </div>
    </div>
  </div>
</section>
