<section class="wrapper block block--dark hero overflow--clip">
  <header class="grid grid--1X2">
    <div class="hero__content">
      <p class="hero__tagline">Pro.Beyond.</p>
      <h1 class="block__heading">
        IPhone 14 <span class="mix-bold">Pro</span>
      </h1>
      <p class="hero__tagline">
        Created to change everything for the better. For everyone
      </p>
      <a class="btn btn--empty" href="#">Shop now</a>
    </div>

    <div class="hero__banner">
      <img src="assets/images/Iphone Image.png" alt="" style="width: 100%" />
    </div>
  </header>
</section>
