<section class="wrapper hero-sm">
  <header class="fullbleed grid grid--1X2">
    <div class="hero-sm-item" id="hero-sm-one">
      <div class="item__banner">
        <img src="assets/images/Iphone 14 pro 1 (7).png" alt="" />
      </div>
      <div class="item__content">
        <h3>Apple AirPods <span class="mix-bold">Max</span></h3>
        <p>Computational audio. Listen, it's powerful</p>
      </div>
    </div>
    <div class="hero-sm-item" id="hero-sm-two" data-dark="true">
      <div class="item__banner">
        <img src="assets/images/image 36.png" alt="" />
      </div>
      <div class="item__content">
        <h3>Apple Vision <span class="mix-bold">Pro</span></h3>
        <p>An immersive way to experience entertainment</p>
      </div>
    </div>
    <div class="hero-sm-item" id="hero-sm-three">
      <div class="item__banner">
        <img src="assets/images/PlayStation.png" alt="" />
      </div>
      <div class="item__content">
        <h3>Playstation <span class="mix-bold">5</span></h3>
        <p>
          Incredibly powerful CPUs, GPUs, and an SSD with integrated I/O will
          redefine your PlayStation experience.
        </p>
      </div>
    </div>
    <div class="hero-sm-item" id="hero-sm-four">
      <div class="item__banner">
        <img src="assets/images/Macbook 1.png" alt="" />
      </div>
      <div class="item__content">
        <h3><span class="mix-bold">Macbook</span> Air</h3>
        <p>
          The new 15‑inch MacBook Air makes room for more of what you love with
          a spacious Liquid Retina display.
        </p>
        <a class="btn btn--empty" href="#">Shop now</a>
      </div>
    </div>
  </header>
</section>
