@layer layout {
  .grid {
    display: grid;
    /* grid-template-columns: 4fr 1fr; */
    gap: 20px;
  }

  .grid--carousel {
    grid-template-areas:
      "slider slider slider slider"
      "boxOne boxOne boxTwo boxTwo";

    @media (width >= calc(768 / 16 * 1rem)) {
      grid-template-areas:
        "slider slider slider slider boxOne"
        "slider slider slider slider boxTwo";
    }
  }

  .grid--features {
    min-width: 350px;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 10px;
    align-items: center;

    .feature__logo {
      width: 60px;
      grid-column: 1;
      grid-row: 1 / -1;
    }

    .feature__title {
      grid-column: 2;
      grid-row: 1;
    }

    .feature__descr {
      grid-column: 2;
      grid-row: 2;
    }
  }

  .feature-card {
    border: 1px solid red;
    margin: auto;
    border-radius: 15px;
    width: fit-content;
    padding: 1rem;
  }
}

@layer home-section {
  .slider {
    grid-area: slider;
  }

  .side-card-one {
    grid-area: boxOne;
  }

  .side-card-two {
    grid-area: boxTwo;
  }

  img {
    border-radius: 30px;
    /* width: 100%; */
  }
}
